html{
    font-size:16px;
}

body{
    font-family: 'Baloo 2', cursive;
    
    color:#fff;
    margin:0;
    letter-spacing: 0.2rem;
    
    background:#333;             
}

.grid{
    border:solid 0.125rem #000;
    border-bottom: none;
    display:flex;
    flex-wrap:wrap;
    height:18.4375rem;
    width:21.875rem;
    background-color: #8500cd;
    overflow: hidden;
    margin:0 auto;
    padding:0.625rem;
}

.grid div{
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: #fff;
    margin:0.3125rem;
    box-sizing: border-box;
    cursor: pointer;
    border:solid 0.0625rem #000;
}

#base{
    height:30px;
    width:100%;
    border:solid 0.125rem #000;
    background:#8500cd;
}

.grid, #base{
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

#gameboard{
    width:26.875rem;
    margin:1.25rem auto;
}

.player-one{
    background-color:#00ffff!important;
}

.player-two{
    background-color: #ff8000!important;
}

.highlight{
   background-color: #fff!important;
}

#instruction, #player-guide{
    text-align: center;
    margin:0 0 1.5rem 0;
    height:1.5rem;
    line-height: 1.5rem;
}

h1{
    font-family: 'Gugi', cursive;
    text-align: center;
    font-size:3rem;
    font-weight:700;
    text-transform: uppercase;
    text-shadow: 0.125rem 0 0 #a500ff,
                 0 0.125rem #a500ff,
                 -0.125rem 0 #a500ff,
                 0 -0.125rem #a500ff,   
                 -0.1em 0.1em 0px #8500cd,
                 -0.2em 0.2em 0px #63009a,
                 -0.3em 0.3em 0px #420067;
    padding:0.8em 0 0.8em 0;
    margin:0;          
}

.cyan{
color:#00ffff;
          
}

.orange{
    color:#ff8000;
}

#restart{
    text-align:center;
    margin-top:none;
}

@media (max-width: 540px) {
    html {
        font-size:12px !important;
    }
}